<app-search (ipAddressEvent)="ping($event)"></app-search>

<div id="actions" class="col-12 mb-5" aria-label="Actions for Table">
    <div class="row justify-content-md-between justify-content-center">

        <a type="button" id="addServerButton" href="#addServer" class="col-12 col-md m-2 btn btn-primary"
            aria-label="Add Server" data-bs-toggle="modal" (click)="addServerQueryOrForm('FORM')">
            Add Server &nbsp;
            <i class="bi bi-plus-circle"></i>
        </a>
        <a type="button"  id="addServerQueryButton" href="#addServer" data-bs-toggle="modal" (click)="addServerQueryOrForm('QUERY')" hidden ></a>
        
        <span class="col-12 col-md m-2 dropdown p-0">
            <select #selectstatus (ngModelChange)="filter(selectstatus.value)" [ngModel]="currentFilterStatus.value"
                class="btn btn-primary dropdown-toggle w-100" name="filter" aria-label="FILTER BY STATUS"
                aria-haspopup="listbox">
                <option class="dropdown-item" [selected]="currentFilterStatus.value==Status.ALL" value="ALL">ALL</option>
                <option class="dropdown-item" [selected]="currentFilterStatus.value==Status.SERVER_UP" value="SERVER_UP">SERVER UP</option>
                <option class="dropdown-item" [selected]="currentFilterStatus.value==Status.SERVER_DOWN" value="SERVER_DOWN">SERVER DOWN</option>
            </select>
        </span>
        <button class="col-12 col-md m-2 btn btn-primary" aria-label="Print Server Report" (click)="print()">
            Print Report &nbsp;
            <i class="bi bi-printer"></i>
        </button>
    </div>
</div>

<div id="addServer" class="modal fade">
    <div class="modal-dialog" role="alert">

        <ng-container *ngIf="queryOrForm.value == 'QUERY'">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">New Server</p>
                    <span aria-hidden="true"><i class="bi bi-router fs-3"></i></span>
                </div>
                <div class="modal-body">
                    <h3>This server is available <i class="bi bi-check-lg text-success"></i></h3>
                    <p>It appears to be a new server.<br>Would you like to save ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        (click)="addServerQueryOrForm('FORM')"
                        >Sure
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        data-bs-target="#newServer">Maybe Later</button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="queryOrForm.value == 'FORM'">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Server</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <form [formGroup]="addServerForm" (ngSubmit)="save()">

                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input formControlName="ipAddress" id="ipAddress" name="ipAddress" class="form-control" required="true"
                                    placeholder="IP Address"/>
                                <label aria-label="IP Address" for="ipAddress">IP</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input formControlName="name" id="name" name="name" class="form-control" required placeholder="Name" />
                                <label aria-label="Server Name" for="name">Name</label>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="memory" id="memory" name="memory" class="form-control" required
                                        placeholder="Memory eg 10GB" />
                                    <label aria-label="Memory" for="memory">Memory</label>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input formControlName="type" id="type" name="type" class="form-control" required
                                        placeholder="Type" />
                                    <label aria-label="Type" for="type">Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <select formControlName="status" id="modal-select-status" name="status"
                                class="form-control dropdown dropdown-toggle" required>
                                <option class="dropdown-item" value="SERVER_UP">SERVER UP</option>
                                <option class="dropdown-item" value="SERVER_DOWN" selected>SERVER DOWN</option>
                            </select>
                            <label aria-label="Status" for="modal-select-status">Status</label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn"
                            [ngClass]="addServerForm.invalid ? 'btn-disabled' : !isLoading.value ? 'btn-primary' : ['btn-disabled', 'spinner-border']"
                            [disabled]="addServerForm.invalid || isLoading.value">{{!isLoading.value ?
                            'Save' : 'Saving...'}}</button>
                        <button id="dismissAddServerModal" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="spinner-border text-info text-center"></div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <div class="col-12">
            <table id="servers" class="table border table-striped table-hover">
                <thead class="container">
                    <tr class="row">
                        <th class="col-1"></th>
                        <th class="col-2">Name</th>
                        <th class="col-3">IP Address</th>
                        <th class="col-2">Type</th>
                        <th class="col-1">Memory</th>
                        <th class="col-2">Status</th>
                        <th class="col-1"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let server of (appState.appData?.data?.servers || appState.servers); trackBy:identify" class="container">
                    <tr class="row">
                        <td class="col-1"><img [src]="apiUrl + server.imageUrl" width="40px" height="40px"
                                [alt]="server.name" /></td>
                        <td class="col-2">{{ server.name }}</td>
                        <td class="col-3">{{ server.ipAddress }}</td>
                        <td class="col-2">{{ server.type }}</td>
                        <td class="col-1">{{ server.memory }}</td>
                        <td class="col-2"><span 
                            [ngClass]="(pingAddress.value == server.ipAddress)? 
                            ['spinner-border', 'text-secondary']: server.status == Status.SERVER_UP ?
                            ['badge', 'rounded-pill', 'bg-success'] : ['badge', 'rounded-pill', 'bg-warning']"
                            >
                            {{(pingAddress.value == server.ipAddress)? null :  (server.status)}}</span></td>
                        <td class="col-1 tooltip-grp">

                            <button class="btn tooltip-btn"><i class="bi bi-three-dots-vertical"></i></button>

                            <div class="btn-group-vertical tooltip-dropdown">
                                <a type="button" class="btn btn-secondary" (click)="ping(server.ipAddress)">
                                    <span>Ping  <i class="bi bi-router text-secondary"></i></span>
                                </a>
                                <a type="button" class="btn btn-secondary" (click)="delete(server)">
                                    <span>Remove <i class="bi bi-trash text-danger"></i></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="col-12 text-danger fs-5">
            Oops.. Something went wrong
        </div>
    </ng-container>
</ng-container>
