<main class="container mt-5 mb-5 p-4">
    <div class="row justify-content-center">

        <div class="col-12 display-2 text-center mb-5">Pinger</div>

        <div class="col col-md-5 mb-5 container-fluid">
            <form class="d-flex">
                <input class="form-control" type="search" placeholder="192.168.0.0"
                    aria-placeholder="Insert Ip Address" />
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <div id="actions" class="col-12 mb-5" aria-label="Actions for Table">
            <div class="row justify-content-md-between justify-content-center">

                <a type="button" href="#addServer" class="col-12 col-md m-2 btn btn-primary" aria-label="ADD SERVER">
                    Add Server &nbsp;
                    <i class="bi bi-plus-circle"></i>
                </a>
                <span class="col-12 col-md m-2 dropdown p-0">
                    <select class="btn btn-primary dropdown-toggle w-100" name="filter" aria-label="FILTER BY STATUS"
                        aria-haspopup="listbox">
                        <option class="dropdown-item" value="ALL">ALL</option>
                        <option class="dropdown-item" value="SERVER_UP">SERVER UP</option>
                        <option class="dropdown-item" value="SERVER_DOWN">SERVER DOWN</option>
                    </select>
                </span>
                <button class="col-12 col-md m-2 btn btn-primary" aria-label="Print Server Report">
                    Print Report &nbsp;
                    <i class="bi bi-printer"></i>
                </button>
            </div>
        </div>
        <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState.toString()">
            <ng-container *ngSwitchCase="'LOADING_STATE'">
                <div class="spinner-border text-info text-center"></div>
            </ng-container>

            <ng-container *ngSwitchCase="'LOADED_STATE'">
                <div class="col-12">
                    <table id="servers" class="table border table-striped table-hover">
                        <thead class="container">
                            <tr class="row">
                                <th class="col-1"></th>
                                <th class="col-2">Name</th>
                                <th class="col-3">IP Address</th>
                                <th class="col-2">Type</th>
                                <th class="col-1">Memory</th>
                                <th class="col-2">Status</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let server of appState.appData?.data?.servers" class="container">
                            <tr class="row">
                                <td class="col-1"><img [src]="apiUrl + server.imageUrl" width="40px" height="40px"
                                        [alt]="server.name" /></td>
                                <td class="col-2">{{ server.name}}</td>
                                <td class="col-3">{{ server.ipAddress }}</td>
                                <td class="col-2">{{ server.type }}</td>
                                <td class="col-1">{{ server.memory }}</td>
                                <td class="col-2"><span class = "badge rounded-pill" [ngClass]="server.status.toString() == 'SERVER_UP' ? 'bg-success' : 'bg-warning'">{{ server.status }}</span></td>
                                <td class="col-1 tooltip-grp">

                                    <button class="btn btn-primary tooltip-btn"><i class="bi bi-three-dots-vertical"></i></button>

                                    <div class="btn-group-vertical tooltip-dropdown">
                                        <a type="button" class="btn btn-secondary">
                                            <span>Ping <i [ngClass]="false? 'spinner-border' : ['bi', 'bi-router', 'text-primary']"></i></span>
                                        </a>
                                        <a type="button" class="btn btn-secondary">
                                            <span>Edit <i [ngClass]="false? 'spinner-border' : ['bi', 'bi-pencil', 'text-info']"></i></span>
                                        </a>
                                        <a type="button" class="btn btn-secondary">
                                            <span>Remove <i [ngClass]="false? 'spinner-border' : ['bi', 'bi-trash', 'text-danger']"></i></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'ERROR_STATE'">
                <div class="col-12 text-danger fs-5">
                    Error
                </div>
            </ng-container>
        </ng-container>
    </div>

    <ng-container>
        <dialog open="false" class="modal modal-dialog fade">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Server</h4>
                    <button class="close" aria-hidden="true" data-dismissal="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label aria-label="IP Address" for="ipAddress">IP</label>
                        <input name="ipAddress" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label aria-label="Server Name" for="name">Name</label>
                        <input name="name" class="form-control" required />
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label aria-label="Memory" for="memory">Memory</label>
                                <input name="memory" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label aria-label="Type" for="type">Type</label>
                                <input name="type" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label aria-label="Status" for="modal-select-status">Type</label>
                            <select name="modal-select-status" class="form-select dropdown dropdown-toggle" required>
                                <option class="dropdown-item" value="SERVER_UP">SERVER UP</option>
                                <option class="dropdown-item" value="SERVER_DOWN">SERVER DOWN</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    </ng-container>
</main>