<div class="col col-md-5 mb-5 container-fluid">
    <form class="d-flex" [formGroup]="pingServerForm" (ngSubmit)="ipAddressEmit(address.value)">
        <input #address class="form-control" type="search" placeholder="192.168.0.0"
            aria-placeholder="Insert Ip Address"
            formControlName="ipAddress"
            />
        <input class="btn" type="submit" value="PING" 
        [ngClass]="pingServerForm.invalid ? 'btn-disabled' :  'btn-primary'" 
        [disabled]="pingServerForm.invalid"/>
    </form>
</div>